.app {
  outline: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: 'Alata', sans-serif;
  overflow: hidden;
}

.button-star-settings {
  position: absolute;
  top: 10px;
  font-size: 16px;
  color: #ffffff;
  z-index: 100;
}

.button-star-settings--random-palette {
  left: 10px;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.button-star-settings--pause {
  right: 10px;
}

.button-star-settings--hidden {
  opacity: 0;
  pointer-events: none;
}

@media only screen and (min-width: 768px) {
  .button-star-settings {
    top: 12px;
    font-size: 18px;
  }

  .button-star-settings--random-palette {
    left: 12px;
  }
  .button-star-settings--pause {
    right: 12px;
  }
}

/*
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
*/
