a:link {
  font-size: 15px;
  text-decoration: none;
  color: #1d50c2;
}
a:visited {
  font-size: 15px;
  text-decoration: none;
  color: #1d50c2;
}
a:hover {
  color: #fe7160;
}
a:focus {
  outline: 0;
  color: #fe7160;
}
a:active {
  color: #fe7160;
}

.app {
  outline: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: 'Alata', sans-serif;
  overflow: none;
}

.footer {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  background: rgba(255,255,255,0);
  z-index: 10;
  transition: background 1s;
}

.footer--solid {
  background: rgba(255,255,255,1);
}

.button-no-style {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-rendering: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  text-indent: inherit;
  text-shadow: inherit;
  text-align: inherit;
  align-items: inherit;
}

.button-fake-link {
  color: #1d50c2;
}

.button-fake-link:focus,
.button-fake-link:hover {
  color: #fe7160;
}

@keyframes starSettingsToContrast {
  from { color: #ffffff; }
  to { color: #1d50c2; }
}

.button-star-settings {
  position: absolute;
  bottom: 8px;
  font-size: 16px;
  color: #ffffff;
  z-index: 100;
}

.button-star-settings:focus,
.button-star-settings:hover {
  color: #fec060 !important;
}

.button-star-settings--contrast {
  color: #1d50c2;
  animation: starSettingsToContrast 2s;
}

.button-star-settings--color {
  left: 8px;
}
.button-star-settings--pause {
  right: 8px;
}

@media only screen and (min-width: 768px) {
  a:link {
    font-size: 18px;
  }
  a:visited {
    font-size: 18px;
  }

  .button-star-settings {
    bottom: 10px;
    font-size: 18px;
  }

  .button-star-settings--color {
    left: 10px;
  }
  .button-star-settings--pause {
    right: 10px;
  }
}

/*$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;*/
