.night-sky {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  z-index: -5;
}

@-webkit-keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

.star {
  position: absolute;
  background: white;
  animation-name: blink;
}

/*.app--pause-stars .star {
  animation-name: none !important;
}*/