.projects {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 0;
}

.project_card {
  display: flex;
  flex-direction: column;
  margin: 0 0 40px 0;
}

.project_card__img {
  max-width: 100%;
  object-fit: contain;
  margin: 0 0 10px 0;
}

.project_card__info {
  display: flex;
  flex-direction: column;
}

.project_card__info__title {
  font-size: 30px;
  margin: 0 0 10px 0;
}

.project_card__info__desc p {
  margin: 0 0 10px 0;
}
.project_card__info__desc p:last-child {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .project_card__img {
    max-width: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .projects {
    margin: 40px 0 0 0;
  }

  .project_card {
    flex-direction: row;
  }

  .project_card__img {
    max-width: 300px;
    margin: 0 20px 0 0;
  }
}
