/* Stuff */
.stuff {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  opacity: 100%;
  transition: opacity 1s ease-in-out;
}

.stuff--hidden {
  transition: opacity 1s;
  opacity: 0;
  pointer-events: none;
}

.stuff--hidden .navbar a,
.stuff--hidden .navbar button {
  display: none;
}

/* Header */
.header {
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  opacity: 100%;
  z-index: 3;
}

.header__title {
  font-size: 50px;
  color: #FFFFFF;
  line-height: 41px;
  cursor: default;
}

/* Navbar */
.navbar {
  height: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  background-color: #FFFFFF;
  z-index: 2;
}

.navbar:focus {
  background-color: green;
}

.navbar a:link {
  font-size: 15px;
}
.navbar a:visited {
  font-size: 15px;
}

.navbar button {
  font-size: 15px;
}

.button-stargaze:focus,
.button-stargaze:hover {
  color: #fec060 !important;
}

/* Display */
.display {
  height: calc(100% - 115px);
  width: 100%;
  background-color: #FFFFFF;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 100px;
  }

  .navbar {
    height: 30px;
  }

  .navbar a:link {
    font-size: 18px;
  }
  .navbar a:visited {
    font-size: 18px;
  }

  .navbar button {
    font-size: 18px;
  }

  .display {
    height: calc(100% - 130px);
  }
}
