@import './palettes';
@import './utils';

.app {
  outline: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: 'Alata', sans-serif;
  overflow: hidden;
  zoom: 100%;
}

.app .main-button {
  @include button-no-style;
  position: absolute;
  top: 10px;
  font-size: 16px;
  color: #ffffff;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.app .main-button--random-palette {
  left: 10px;
}

.app .main-button--random-palette .main-button--show {
  opacity: 0;
}

.app .main-button--instructions {
  right: 10px;
}

.app .main-button--instructions-hidden,
.app .main-button--random-palette-hidden {
  opacity: 0;
  pointer-events: none;
}

.app__instructions {
  position: absolute;
  bottom: 20px;
  left: 10px;
  color: #ffffff;
  z-index: 100;
}

.app--NIGHTSKY {
  a:link, a:visited,
  button {
    color: $NIGHTSKY-tertiary;
  }
  a:active, a:focus, a:hover,
  button:focus, button:hover {
    color: $NIGHTSKY-quaternary;
  }
}

.app--PASTEL {
  a:link, a:visited,
  button {
    color: $PASTEL-primary;
  }
  a:active, a:focus, a:hover,
  button:focus, button:hover {
    color: $PASTEL-secondary;
  }
}

.app--GRANDMA {
  a:link, a:visited,
  button {
    color: $GRANDMA-primary;
  }
  a:active, a:focus, a:hover,
  button:focus, button:hover {
    color: $GRANDMA-secondary;
  }
}

.app--MARS {
  a:link, a:visited,
  button {
    color: $MARS-primary;
  }
  a:active, a:focus, a:hover,
  button:focus, button:hover {
    color: $MARS-secondary;
  }
}

.app--PURPLY {
  a:link, a:visited,
  button {
    color: $PURPLY-primary;
  }
  a:active, a:focus, a:hover,
  button:focus, button:hover {
    color: $PURPLY-secondary;
  }
}

.app--VIVID {
  a:link, a:visited,
  button {
    color: $VIVID-primary;
  }
  a:active, a:focus, a:hover,
  button:focus, button:hover {
    color: $VIVID-secondary;
  }
}

.app--FOREST {
  a:link, a:visited,
  button {
    color: $FOREST-primary;
  }
  a:active, a:focus, a:hover,
  button:focus, button:hover {
    color: $FOREST-secondary;
  }
}

.app--RHENIUM {
  a:link, a:visited,
  button {
    color: $RHENIUM-primary;
  }
  a:active, a:focus, a:hover,
  button:focus, button:hover {
    color: $RHENIUM-secondary;
  }
}

.app--SEWERS {
  a:link, a:visited,
  button {
    color: $SEWERS-primary;
  }
  a:active, a:focus, a:hover,
  button:focus, button:hover {
    color: $SEWERS-tertiary;
  }
}

.app--NIKAIDO {
  a:link, a:visited,
  button {
    color: $NIKAIDO-primary;
  }
  a:active, a:focus, a:hover,
  button:focus, button:hover {
    color: $NIKAIDO-secondary;
  }
}

.app--SEPIA {
  a:link, a:visited,
  button {
    color: $SEPIA-primary;
  }
  a:active, a:focus, a:hover,
  button:focus, button:hover {
    color: $SEPIA-secondary;
  }
}

.app--WETLAND {
  a:link, a:visited,
  button {
    color: $WETLAND-primary;
  }
  a:active, a:focus, a:hover,
  button:focus, button:hover {
    color: $WETLAND-secondary;
  }
}

.app--NOSTALGIA {
  a:link, a:visited,
  button {
    color: $NOSTALGIA-primary;
  }
  a:active, a:focus, a:hover,
  button:focus, button:hover {
    color: $NOSTALGIA-secondary;
  }
}

@media only screen and (min-width: 768px) {
  .app .main-button {
    top: 12px;
    font-size: 18px;
  }

  .app .main-button--random-palette {
    left: 12px;
  }

  .app .main-button--random-palette-hidden {
    opacity: 1;
    pointer-events: all;
  }

  .app .main-button--instructions {
    right: 12px;
  }
}
