@import './palettes';
@import './utils';

.home {
  margin: 20px 0 0 0;
}

.home::after {
  content: 'buffer zone';
  height: 10px;
  width: 100%;
  background: #ffffff;
  opacity: 0;
}

.home__title {
  font-size: 35px;
  text-align: center;
}

.home__grid {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 30px;
  margin: 40px 0 0 0;
}

.palette_card {
  @include button-no-style;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.palette_card__img {
  max-height: 50px;
  max-width: 50px;
  margin: 0 10px 0 0;
}

.palette_card__desc {
  font-size: 24px;
}

.palette_card.palette_card--NIGHTSKY {
  color: #000000;
  &:focus, &:hover {
    color: $NIGHTSKY-quaternary;
  }
}

.palette_card.palette_card--PASTEL {
  color: #000000;

  &:focus, &:hover {
    color: $PASTEL-secondary;
  }
}

.palette_card.palette_card--GRANDMA {
  color: #000000;
  &:focus, &:hover {
    color: $GRANDMA-secondary;
  }
}

.palette_card.palette_card--MARS {
  color: #000000;
  &:focus, &:hover {
    color: $MARS-secondary;
  }
}

.palette_card.palette_card--PURPLY {
  color: #000000;
  &:focus, &:hover {
    color: $PURPLY-secondary;
  }
}

.palette_card.palette_card--VIVID {
  color: #000000;
  &:focus, &:hover {
    color: $VIVID-secondary;
  }
}

.palette_card.palette_card--FOREST {
  color: #000000;
  &:focus, &:hover {
    color: $FOREST-secondary;
  }
}

.palette_card.palette_card--RHENIUM {
  color: #000000;
  &:focus, &:hover {
    color: $RHENIUM-secondary;
  }
}

.palette_card.palette_card--SEWERS {
  color: #000000;
  &:focus, &:hover {
    color: $SEWERS-tertiary;
  }
}

.palette_card.palette_card--NIKAIDO {
  color: #000000;
  &:focus, &:hover {
    color: $NIKAIDO-secondary;
  }
}

.palette_card.palette_card--SEPIA {
  color: #000000;
  &:focus, &:hover {
    color: $SEPIA-secondary;
  }
}

.palette_card.palette_card--WETLAND {
  color: #000000;
  &:focus, &:hover {
    color: $WETLAND-secondary;
  }
}

.palette_card.palette_card--NOSTALGIA {
  color: #000000;
  &:focus, &:hover {
    color: $NOSTALGIA-secondary;
  }
}

@media only screen and (min-width: 768px) {
  .home__title {
    margin: 0 0 50px 0;
  }

  .home__grid {
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 60px;
  }
}

@media only screen and (min-width: 992px) {
  .home__grid {
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .home__grid {
    grid-template-columns: repeat(4, auto);
    grid-row-gap: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .home__grid {
    grid-template-columns: repeat(5, auto);
    grid-row-gap: 60px;
  }
}
