@import './palettes';

.night-sky {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -5;
}

@-webkit-keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

.star {
  position: absolute;
  animation-name: blink;
}

.app--pause-stars .star {
  animation-play-state: paused;
}

.app--NIGHTSKY {
  .night-sky {
    background: $NIGHTSKY-primary;
  }
  .star {
    background: $NIGHTSKY-secondary;
  }
}

.app--PASTEL {
  .night-sky {
    background: $PASTEL-primary;
  }
  .star {
    background: $PASTEL-secondary;
  }
}

.app--GRANDMA {
  .night-sky {
    background: $GRANDMA-primary;
  }
  .star {
    background: $GRANDMA-secondary;
  }
}

.app--MARS {
  .night-sky {
    background: $MARS-primary;
  }
  .star {
    background: $MARS-secondary;
  }
}

.app--PURPLY {
  .night-sky {
    background: $PURPLY-primary;
  }
  .star {
    background: $PURPLY-secondary;
  }
}

.app--VIVID {
  .night-sky {
    background: $VIVID-primary;
  }
  .star {
    background: $VIVID-secondary;
  }
}

.app--FOREST {
  .night-sky {
    background: $FOREST-primary;
  }
  .star {
    background: $FOREST-secondary;
  }
}

.app--RHENIUM {
  .night-sky {
    background: $RHENIUM-primary;
  }
  .star {
    background: $RHENIUM-secondary;
  }
}

.app--SEWERS {
  .night-sky {
    background: $SEWERS-primary;
  }
  .star {
    background: $SEWERS-secondary;
  }
}

.app--NIKAIDO {
  .night-sky {
    background: $NIKAIDO-primary;
  }
  .star {
    background: $NIKAIDO-secondary;
  }
}

.app--SEPIA {
  .night-sky {
    background: $SEPIA-primary;
  }
  .star {
    background: $SEPIA-secondary;
  }
}

.app--WETLAND {
  .night-sky {
    background: $WETLAND-primary;
  }
  .star {
    background: $WETLAND-secondary;
  }
}

.app--NOSTALGIA {
  .night-sky {
    background: $NOSTALGIA-primary;
  }
  .star {
    background: $NOSTALGIA-secondary;
  }
}
