.odds-ends {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
}

.odds-ends a {
  font-size: 30px;
  margin: 0 0 20px 0;
}

.odds-ends a:last-child {
  margin: 0;
}

.odds-ends__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.odds-ends__column__header {
  font-size: 28px;
  margin: 0 0 10px 0;
}

.odds-ends__column__desc {
  width: 70%;
  font-size: 12px;
  text-align: center;
  margin: 0 0 10px 0;
}

.odds-ends__column__link {
  font-size: 10px;
  margin: 0 0 20px 0;

  a {
    font-size: 10px;
  }
}
