/* STARS */
.app--palette-NIGHTSKY .night-sky {
  background: #000000;
}
.app--palette-NIGHTSKY .star {
  background: #ffffff;
}

.app--palette-PASTEL .night-sky {
  background: #2753bb;
}
.app--palette-PASTEL .star {
  background: #ee7967;
}

.app--palette-GRANDMA .night-sky {
  background: #5b1734;
}
.app--palette-GRANDMA .star {
  background: #669c4b;
}

.app--palette-MARS .night-sky {
  background: #590d1e;
}
.app--palette-MARS .star {
  background: #d9525b;
}

.app--palette-PURPLY .night-sky {
  background: #311b14;
}
.app--palette-PURPLY .star {
  background: #6cc4fa;
}

.app--palette-VIVID .night-sky {
  background: #0f3044;
}
.app--palette-VIVID .star {
  background: #bc2619;
}

.app--palette-FOREST .night-sky {
  background: #000232;
}
.app--palette-FOREST .star {
  background: #395c39;
}

.app--palette-RHENIUM .night-sky {
  background: #252c41;
}
.app--palette-RHENIUM .star {
  background: #d79abe;
}

.app--palette-SEWERS .night-sky {
  background: #0a1e35;
}
.app--palette-SEWERS .star {
  background: #72f9ff;
}

.app--palette-NIKAIDO .night-sky {
  background: #1a1a0d;
}
.app--palette-NIKAIDO .star {
  background: #f19737;
}

.app--palette-SEPIA .night-sky {
  background: #4f2108;
}
.app--palette-SEPIA .star {
  background: #7ca597;
}

.app--palette-WETLAND .night-sky {
  background: #265341;
}
.app--palette-WETLAND .star {
  background: #a47e45;
}

.app--palette-NOSTALGIA .night-sky {
  background: #3c5a77;
}
.app--palette-NOSTALGIA .star {
  background: #e7a7a5;
}


/* LINKS */
.app--palette-NIGHTSKY a:link,
.app--palette-NIGHTSKY a:visited {
  color: #1d50c2;
}
.app--palette-NIGHTSKY a:active,
.app--palette-NIGHTSKY a:focus,
.app--palette-NIGHTSKY a:hover {
  color: #fec060;
}

.app--palette-PASTEL a:link,
.app--palette-PASTEL a:visited {
  color: #1d50c2;
}
.app--palette-PASTEL a:active,
.app--palette-PASTEL a:focus,
.app--palette-PASTEL a:hover {
  color: #fe7160;
}

.app--palette-GRANDMA a:link,
.app--palette-GRANDMA a:visited {
  color: #5b1734;
}
.app--palette-GRANDMA a:active,
.app--palette-GRANDMA a:focus,
.app--palette-GRANDMA a:hover {
  color: #669c4b;
}

.app--palette-MARS a:link,
.app--palette-MARS a:visited {
  color: #590d1e;
}
.app--palette-MARS a:active,
.app--palette-MARS a:focus,
.app--palette-MARS a:hover {
  color: #d9525b;
}

.app--palette-PURPLY a:link,
.app--palette-PURPLY a:visited {
  color: #311b14;
}
.app--palette-PURPLY a:active,
.app--palette-PURPLY a:focus,
.app--palette-PURPLY a:hover {
  color: #6cc4fa;
}

.app--palette-VIVID a:link,
.app--palette-VIVID a:visited {
  color: #0f3044;
}
.app--palette-VIVID a:active,
.app--palette-VIVID a:focus,
.app--palette-VIVID a:hover {
  color: #bc2619;
}

.app--palette-FOREST a:link,
.app--palette-FOREST a:visited {
  color: #000232;
}
.app--palette-FOREST a:active,
.app--palette-FOREST a:focus,
.app--palette-FOREST a:hover {
  color: #395c39;
}

.app--palette-RHENIUM a:link,
.app--palette-RHENIUM a:visited {
  color: #252c41;
}
.app--palette-RHENIUM a:active,
.app--palette-RHENIUM a:focus,
.app--palette-RHENIUM a:hover {
  color: #d79abe;
}

.app--palette-SEWERS a:link,
.app--palette-SEWERS a:visited {
  color: #0a1e35;
}
.app--palette-SEWERS a:active,
.app--palette-SEWERS a:focus,
.app--palette-SEWERS a:hover {
  color: #babbbd;
}

.app--palette-NIKAIDO a:link,
.app--palette-NIKAIDO a:visited {
  color: #1a1a0d;
}
.app--palette-NIKAIDO a:active,
.app--palette-NIKAIDO a:focus,
.app--palette-NIKAIDO a:hover {
  color: #f19737;
}

.app--palette-SEPIA a:link,
.app--palette-SEPIA a:visited {
  color: #4f2108;
}
.app--palette-SEPIA a:active,
.app--palette-SEPIA a:focus,
.app--palette-SEPIA a:hover {
  color: #7ca597;
}

.app--palette-WETLAND a:link,
.app--palette-WETLAND a:visited {
  color: #265341;
}
.app--palette-WETLAND a:active,
.app--palette-WETLAND a:focus,
.app--palette-WETLAND a:hover {
  color: #a47e45;
}

.app--palette-NOSTALGIA a:link,
.app--palette-NOSTALGIA a:visited {
  color: #3c5a77;
}
.app--palette-NOSTALGIA a:active,
.app--palette-NOSTALGIA a:focus,
.app--palette-NOSTALGIA a:hover {
  color: #e7a7a5;
}


/* BUTTONS */
.button-stargaze--NIGHTSKY {
  color: #1d50c2;
}
.button-stargaze--NIGHTSKY:focus,
.button-stargaze--NIGHTSKY:hover,
.button-star-settings--NIGHTSKY:focus,
.button-star-settings--NIGHTSKY:hover {
  color: #fec060;
}

.button-stargaze--PASTEL {
  color: #1d50c2;
}
.button-stargaze--PASTEL:focus,
.button-stargaze--PASTEL:hover,
.button-star-settings--PASTEL:focus,
.button-star-settings--PASTEL:hover {
  color: #fe7160;
}

.button-stargaze--GRANDMA {
  color: #5b1734;
}
.button-stargaze--GRANDMA:focus,
.button-stargaze--GRANDMA:hover,
.button-star-settings--GRANDMA:focus,
.button-star-settings--GRANDMA:hover {
  color: #669c4b;
}

.button-stargaze--MARS {
  color: #590d1e;
}
.button-stargaze--MARS:focus,
.button-stargaze--MARS:hover,
.button-star-settings--MARS:focus,
.button-star-settings--MARS:hover {
  color: #d9525b;
}

.button-stargaze--PURPLY {
  color: #311b14;
}
.button-stargaze--PURPLY:focus,
.button-stargaze--PURPLY:hover,
.button-star-settings--PURPLY:focus,
.button-star-settings--PURPLY:hover {
  color: #6cc4fa;
}

.button-stargaze--VIVID {
  color: #0f3044;
}
.button-stargaze--VIVID:focus,
.button-stargaze--VIVID:hover,
.button-star-settings--VIVID:focus,
.button-star-settings--VIVID:hover {
  color: #bc2619;
}

.button-stargaze--FOREST {
  color: #000232;
}
.button-stargaze--FOREST:focus,
.button-stargaze--FOREST:hover,
.button-star-settings--FOREST:focus,
.button-star-settings--FOREST:hover {
  color: #395c39;
}

.button-stargaze--RHENIUM {
  color: #252c41;
}
.button-stargaze--RHENIUM:focus,
.button-stargaze--RHENIUM:hover,
.button-star-settings--RHENIUM:focus,
.button-star-settings--RHENIUM:hover {
  color: #d79abe;
}

.button-stargaze--SEWERS {
  color: #0a1e35;
}
.button-stargaze--SEWERS:focus,
.button-stargaze--SEWERS:hover,
.button-star-settings--SEWERS:focus,
.button-star-settings--SEWERS:hover {
  color: #babbbd;
}

.button-stargaze--NIKAIDO {
  color: #1a1a0d;
}
.button-stargaze--NIKAIDO:focus,
.button-stargaze--NIKAIDO:hover,
.button-star-settings--NIKAIDO:focus,
.button-star-settings--NIKAIDO:hover {
  color: #f19737;
}

.button-stargaze--SEPIA {
  color: #4f2108;
}
.button-stargaze--SEPIA:focus,
.button-stargaze--SEPIA:hover,
.button-star-settings--SEPIA:focus,
.button-star-settings--SEPIA:hover {
  color: #7ca597;
}

.button-stargaze--WETLAND {
  color: #265341;
}
.button-stargaze--WETLAND:focus,
.button-stargaze--WETLAND:hover,
.button-star-settings--WETLAND:focus,
.button-star-settings--WETLAND:hover {
  color: #a47e45;
}

.button-stargaze--NOSTALGIA {
  color: #3c5a77;
}
.button-stargaze--NOSTALGIA:focus,
.button-stargaze--NOSTALGIA:hover,
.button-star-settings--NOSTALGIA:focus,
.button-star-settings--NOSTALGIA:hover {
  color: #e7a7a5;
}


/* PALETTE CARDS */
.palette_card--NIGHTSKY:focus,
.palette_card--NIGHTSKY:hover {
  color: #fec060;
}

.palette_card--PASTEL:focus,
.palette_card--PASTEL:hover {
  color: #fe7160;
}

.palette_card--GRANDMA:focus,
.palette_card--GRANDMA:hover {
  color: #669c4b;
}

.palette_card--MARS:focus,
.palette_card--MARS:hover {
  color: #d9525b;
}

.palette_card--PURPLY:focus,
.palette_card--PURPLY:hover {
  color: #6cc4fa;
}

.palette_card--VIVID:focus,
.palette_card--VIVID:hover {
  color: #bc2619;
}

.palette_card--FOREST:focus,
.palette_card--FOREST:hover {
  color: #395c39;
}

.palette_card--RHENIUM:focus,
.palette_card--RHENIUM:hover {
  color: #d79abe;
}

.palette_card--SEWERS:focus,
.palette_card--SEWERS:hover {
  color: #babbbd;
}

.palette_card--NIKAIDO:focus,
.palette_card--NIKAIDO:hover {
  color: #f19737;
}

.palette_card--SEPIA:focus,
.palette_card--SEPIA:hover {
  color: #7ca597;
}

.palette_card--WETLAND:focus,
.palette_card--WETLAND:hover {
  color: #a47e45;
}

.palette_card--NOSTALGIA:focus,
.palette_card--NOSTALGIA:hover {
  color: #e7a7a5;
}

/* good colors */
/* #8667b0 */
/* #fec060 */
