$NIGHTSKY-primary: #000000;
$NIGHTSKY-secondary: #ffffff;
$NIGHTSKY-tertiary: #2753bb;
$NIGHTSKY-quaternary: #fec060;

$PASTEL-primary: #2753bb;
$PASTEL-secondary: #ee7967;

$GRANDMA-primary: #5b1734;
$GRANDMA-secondary: #669c4b;

$MARS-primary: #590d1e;
$MARS-secondary: #d9525b;

$PURPLY-primary: #311b14;
$PURPLY-secondary: #6cc4fa;

$VIVID-primary: #0f3044;
$VIVID-secondary: #bc2619;

$FOREST-primary: #000232;
$FOREST-secondary: #395c39;

$RHENIUM-primary: #252c41;
$RHENIUM-secondary: #d79abe;

$SEWERS-primary: #0a1e35;
$SEWERS-secondary: #72f9ff;
$SEWERS-tertiary: #babbbd;

$NIKAIDO-primary: #1a1a0d;
$NIKAIDO-secondary: #f19737;

$SEPIA-primary: #4f2108;
$SEPIA-secondary: #7ca597;

$WETLAND-primary: #265341;
$WETLAND-secondary: #a47e45;

$NOSTALGIA-primary: #3c5a77;
$NOSTALGIA-secondary: #e7a7a5;

/* good colors */
/* #8667b0 */
/* #fec060 */
