$NIGHTSKY-primary: #000000;
$NIGHTSKY-secondary: #ffffff;
$NIGHTSKY-tertiary: #2753bb;
$NIGHTSKY-quaternary: #fec060;

$PASTEL-primary: #2753bb;
$PASTEL-secondary: #ee7967;
$PASTEL-tertiary: #3080f6;

$GRANDMA-primary: #5b1734;
$GRANDMA-secondary: #669c4b;
$GRANDMA-tertiary: #f4b386;

$MARS-primary: #590d1e;
$MARS-secondary: #d9525b;
$MARS-tertiary: #3080f6;
$MARS-quaternary: #e3dbb2;

$PURPLY-primary: #311b14;
$PURPLY-secondary: #6cc4fa;
$PURPLY-tertiary: #8368af;

$VIVID-primary: #0f3044;
$VIVID-secondary: #bc2619;
$VIVID-tertiary: #4f6baf;

$FOREST-primary: #000232;
$FOREST-secondary: #395c39;
$FOREST-tertiary: #7a6739;
$FOREST-quaternary: #3080f6;

$RHENIUM-primary: #252c41;
$RHENIUM-secondary: #d79abe;
$RHENIUM-tertiary: #ec5a4d;
$RHENIUM-quaternary: #e4f4da;

$SEWERS-primary: #0a1e35;
$SEWERS-secondary: #72f9ff;
$SEWERS-tertiary: #babbbd;

$NIKAIDO-primary: #1a1a0d;
$NIKAIDO-secondary: #f19737;
$NIKAIDO-tertiary: #3080f6;

$SEPIA-primary: #4f2108;
$SEPIA-secondary: #7ca597;
$SEPIA-tertiary: #314b6c;
$SEPIA-quaternary: #ceab73;

$WETLAND-primary: #265341;
$WETLAND-secondary: #a47e45;
$WETLAND-tertiary: #314b6c;
$WETLAND-quaternary: #f5c8ad;

$NOSTALGIA-primary: #3c5a77;
$NOSTALGIA-secondary: #e7a7a5;
$NOSTALGIA-tertiary: #b99bf7;
$NOSTALGIA-quaternary: #6a88c4;

/* good colors */
/* #8667b0 */
/* #fec060 */
