.css-challenge-46 {
  height: 200vh;
  width: 200vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  zoom: 50%;
}

.css-challenge-46__field {
  position: relative;
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #2c3e50;
  border: 1px solid #E24E3F;
}

.pixel {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  outline: 0;
  height: 30px;
  width: 30px;
  background: white;
  margin: 0;
  cursor: pointer;

  &:checked {
    background: #DE4738;
    border: 1px solid #E24E3F;
  }
  &:focus {
    background: #BC2819;
    border: 1px solid #E24E3F;
  }
}

@media only screen and (min-width: 768px) {
  .css-challenge-46 {
    height: 100vh;
    width: 100vw;
  }

  .css-challenge-46__field {
    height: 400px;
    width: 400px;
  }

  .pixel {
    height: 20px;
    width: 20px;

  }
}
