.css-challenges-59 {
  position: relative;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background: #34495e;
  border-radius: 3px;
  overflow: hidden;
}

.css-challenges-59__slice {
  outline: 0;
  height: 1.5px;
  width: 100%;
  cursor: pointer;
}

.css-challenges-59__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background: #e67e22;
  pointer-events: none;
  z-index: 2;
  transition: height 1s ease;
}

@media only screen and (max-width: 767px) {
  @for $idx from 1 through 400 {
    .css-challenges-59__slice--#{$idx}:focus ~ .css-challenges-59__overlay,
    .css-challenges-59__slice--#{$idx}:hover ~ .css-challenges-59__overlay {
      $size: $idx * 1.5;
      height: #{$size}px;
      transition: none;
    }
  }
}

.css-challenges-59__text {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  color: white;
  font-family: sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.css-challenges-59__text--one {
  z-index: 1;
}
.css-challenges-59__text--two {
  filter: blur(5px);
  z-index: 3;
}

@media only screen and (min-width: 768px) {
  .css-challenges-59 {
    height: 400px;
    width: 400px;
  }

  .css-challenges-59__slice {
    height: 2px;
    width: 100%;
    cursor: pointer;
  }
  
  .css-challenges-59__overlay {
    height: 200px;
  }

  @for $idx from 1 through 400 {
    .css-challenges-59__slice--#{$idx}:focus ~ .css-challenges-59__overlay,
    .css-challenges-59__slice--#{$idx}:hover ~ .css-challenges-59__overlay {
      $size: $idx * 2;
      height: #{$size}px;
      transition: none;
    }
  }
}
