@import '../palettes';

.css-challenges-79 {
  position: relative;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background: #34495e;
  border-radius: 3px;
  overflow: hidden;
}

.css-challenges-79__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0);
  cursor: pointer;
  outline: 0; 
  transition:
    height 0.75s ease,
    font-size 0.75s ease,
    color 0.75s ease;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

  &:focus,
  &:hover {
    height: 75%;
    font-size: 26px;
    color: rgba(255, 255, 255, 1);
    transition:
      height 0.75s ease,
      font-size 0.75s ease,
      color 0.75s ease;
  }
}

.css-challenges-79__dark {
  height: 25%;
  width: 100%;
  background: $NOSTALGIA-primary;
}

.css-challenges-79__light {
  height: 25%;
  width: 100%;
  background: $NOSTALGIA-secondary;
}

@media only screen and (min-width: 768px) {
  .css-challenges-79 {
    height: 400px;
    width: 400px;
  }

  .css-challenges-79__box {
    &:focus,
    &:hover {
      font-size: 30px;
    }
  }
}
