@import '../utils';

.css-challenges {
  position: relative;
  height: calc(100% - 40px);
  width: 100%;
  margin: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.css-challenges__return-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 20px;
}

.css-challenges__explanation-button {
  @include button-no-style;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
}

.css-challenges__explanation-text {
  position: absolute;
  top: -10px;
  height: 460px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  background: rgba(255, 255, 255, 0.8);
  overflow: auto;
  opacity: 1;
  z-index: 10;
  transition: opacity 0.5s ease;

  p {
    width: 80%;
    text-align: center;
    margin-bottom: 15px;
  }
  a {
    font-size: 16px;
  }
}

.css-challenges__explanation-text--hide {
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.css-challenges__submission {
  transition: filter 0.5s ease;
}

.css-challenges__submission--blur {
  filter: blur(5px);
  transition: filter 0.5s ease;
}

@media only screen and (min-width: 768px) {
  .css-challenges__return-link {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 24px;
  }

  .css-challenges__explanation-button {
    margin: 50px 0 0 0;
  }

  .css-challenges__explanation-text {
    width: 80%;
    justify-content: center;

    p {
      width: 100%;
    }
  }

  .css-challenges__explanation-text--46 {
    height: 425px;
  }
  .css-challenges__explanation-text--48 {
    height: 525px;
  }
  .css-challenges__explanation-text--59 {
    height: 425px;
  }
  .css-challenges__explanation-text--79 {
    height: 525px;
  }
}